@use "sass:math";

// (Required) Import Bootstrap
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

.alert {
	border: 1px solid;
}

@import "bootstrap/scss/_alert";

$card-box-shadow: $box-shadow;

// (Required) Import Bootstrap
@import "bootstrap/scss/bootstrap";

// Generic layout, forcing a footer at the bottom
body {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;

	header,
	footer {
		flex: none;
	}

	footer {
		clear: both;
		border-top: 1px solid #888;
		padding: 0.5em;
		margin-top: 2em;
		font-size: small;
		color: #555;
		white-space: pre;
	}

	&>div.container {
		flex: 1 0 auto;
		padding: var(--space) var(--space) 0;
		width: 100%;

		&::after {
			content: '\00a0';
			/* &nbsp; */
			display: block;
			margin-top: var(--space);
			height: 0px;
			visibility: hidden;
		}
	}
}

/* * {
	font-family: sans-serif;
} */

.nummer {
	text-align: right;
}

.grafiek-container {
	height: 100%;
	width: 100%;
	font-size: small;
}

.grafiek-titel span {
	display: none;
}

.grafiek-status-loading .loading,
.grafiek-status-loaded .loaded,
.grafiek-status-failed .failed,
.grafiek-titel .grafiek-naam {
	display: unset;
}

.spinner {
	display: none;
}

g.tick line {
	stroke: lightgrey;
	opacity: 0.7;
}

.head {
	display: block;
	height: 5em;
	line-height: 5em;
	background-color: #6f1919;
	color: white;
	font-size: normal;
	font-weight: bold;

	span {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	
	.error-nr {
		font-size: xx-large;
		padding: 0 0.5em 0 0.5em;
	}
}

.error-head-text {
	font-size: large;
}

/* voor kleinere tabel */
@media only screen and (max-width: 768px)
{
	span.datum-groot, button.groot {
		display: none;
	}
}

@media only screen and (min-width: 768px)
{
	span.datum-klein, button.klein {
		display: none;
	}
}

